.p {
    height: 100px;
    width: 100px; 
    background-color: red;}
    
.p-blue {
    height: 100px;
    width: 100px; 
    background-color: blue}

.p-transparent {
    height: 100px;
    width: 100px; 
    background-color: rgba(0, 0, 255, 0.2)}